<div id="git-setup">
  <h3>Excel</h3>
  <p>
    For "Introduction to Working with Data," we will be using Microsoft Excel. If you don't currently have it installed, you can download a free copy from the <a href="http://software.yale.edu/" target="_blank">Yale Software Library</a>.
  </p>
</div>

<div id="openrefine-setup">
  <h3>OpenRefine</h3>
  <p>
    OpenRefine is a tool for cleaning and organizing messy data. Please find instructions for installing it and the data we'll be using for the session on the <a href="https://librarycarpentry.org/lc-open-refine/setup.html" target="_blank">lesson setup page</a>.
  </p>
</div>

<div>
  <h3>Python</h3>
  <p>
    Python is a programming language that can be used to collect, analyze, and visualize data. It can even be used to build websites. For learning Python is this workshop, we will use <a href="https://research.google.com/colaboratory/faq.html" target="_blank">Google Colab</a>, which means you don't need to install anything to get started.
  </p>
</div>