<div id="git-setup">
  <h3>Excel</h3>
  <p>
    For "Introduction to Working with Data," we will be using Microsoft Excel. If you don't currently have it installed, you can download a free copy from the <a href="http://software.yale.edu/">Yale Software Library</a>.
  </p>
</div>

<div id="openrefine-setup">
  <h3>OpenRefine</h3>
  <p>
    OpenRefine is a tool for cleaning and organizing messy data. Please find instructions for installing it and the data we'll be using for the session on the <a href="https://librarycarpentry.org/lc-open-refine/setup.html">lesson setup page</a>.
  </p>
</div>
